<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
		<property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sysvet</property>
		<property name="hibernate.connection.password">SH0RVpf2D7e05QGi</property>
		<property name="hibernate.connection.username">sysvet</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MariaDB103Dialect</property>
        <mapping resource="model/Vacunas.hbm.xml"/>
        <mapping resource="model/Tratamientos.hbm.xml"/>
        <mapping resource="model/Pacientes.hbm.xml"/>
        <mapping resource="model/HistoriaClinica.hbm.xml"/>
        <mapping resource="model/ExamenGeneral.hbm.xml"/>
        <mapping resource="model/Localidades.hbm.xml"/>
        <mapping resource="model/Internaciones.hbm.xml"/>
        <mapping resource="model/Propietarios.hbm.xml"/>
        <mapping resource="model/FichasClinicas.hbm.xml"/>
        <mapping resource="model/CuentasCorrientes.hbm.xml"/>
        <mapping resource="model/Desparasitaciones.hbm.xml"/>
        <mapping resource="model/Provincias.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
